<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Edit: "<%= skill.text %>"" </h1>

    <a href="/skills">Cancel</a>

    <form action="/skill/<%= skillId %>?_method=PUT" method="POST">
        <input type="text" name="text" value="<%= skill.text %>">
        <input type="submit" value="Edit Skill">
    </form>
</body>
</html>