<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Skill</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Create New Skill</h1>
    <a href="/skills">Cancel</a>
    <form action="/skills" method="POST" autocomplete="off">
        <input type="text" name="text">
        <input type="submit" value="Add Skill">
    </form>
</body>
</html>